<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
  //  var st=["#b87333","silver","gold","#e5e4e2"];
//console.log( <%-JSON.stringify(aux)%>);
var dat=<%-aux%>;


      var data = google.visualization.arrayToDataTable(dat);

      var options = {
    title: 'Stats for city'
    
  };

  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

  chart.draw(data, options);
  }
  </script>

<body class="container">

	

	<main>
		<div id="chart_div" style="width: 100%; height: 100%;position:absolute"></div>
	</main>

	
	
</body>
</html>